
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar  a{
  text-decoration: none;
  color: black;
  
}
.display-flex{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
  
}
.navbar{
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;

}
.logo{
    width: 135px;
    height: 82px;
}
.home{
    font-weight: bold;
}
/*colors*/
.orange{
    color: #E95A08;
}
.light-color-text{
    color: rgba(137, 135, 161, 1);
}
.cart{
    color: #000000;
}
.light-text{
   color:  rgba(0, 0, 0, 0.5); 
}

/*banner related style*/
.banner{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.banner-header{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    font-size: 22px;
}
.banner-img{
    width: 100%;
}

/*our plant related style*/
.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.our-plant-title{
    font-size: 3.1rem;
    font-weight: bold;
}
.card-picture{
    width: 270px;
    height: 322px;
}
.product-grid{
    max-width: 1140px;
    margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 5px;
 text-align: center;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.btn{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 50px;
}

/*flower lover style*/
.lover-header{
    display: flex;
    gap: 60px;
    max-width: 1140px;
    margin: 220px auto;
}
.lover-title{
    font-size: 3rem;
    font-weight: bold;
}
.flower-section{
    margin-left: 10px;
}
.lover-img{
    position: relative;
  display: inline-block;
}
.trusted-badge{
position: absolute;
  top: -120px;
  right: -60px;
  width: 286px; 
  height: 286px;

}
.main-img{
  display: block;
  
}

@media screen and (max-width: 576px) {
  .navbar, .nav-link{
 align-items: center;
   
  }
  .cart{
    align-items: center;
    
  }
  .home, .shop, .about{
    display: none;
   
}
.banner{
    flex-direction: column-reverse;
    gap: 10px;
    width: 361px;
    
}
.product-grid{
    grid-template-columns: repeat(1, 1fr);
}



  
}